.spammer-list {
  //color: rgba(0, 0, 0, 0.87);
  //background: #fff;
  width: 100%;
  //border: 0;
  //display: flex;
  //position: relative;
  //font-size: .875rem;
  //min-width: 0;
  //word-wrap: break-word;
  //margin-top: 30px;
  //margin-bottom: 30px;
  //flex-direction: column;
  //
  //box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  //transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  //transition-delay: .1s;
  //border-radius: 4px;
  //overflow: hidden;

  &__content {
    flex: 1 1 auto;
    padding: 0.9375rem 14px;
    position: relative;
  }

  &__empty-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    padding-top: 20px;
    text-align: center;
  }

  &__empty-smile {
    fill: #5f6368;
  }
}
