.tile-list-item {
  position: relative;
  background: #e8f0fe;

  &--edit {
    cursor: pointer;
  }

  &--edit [data-role="shadow"],
  &:hover [data-role="shadow"],
  &:hover [data-role="actions"] {
    opacity: 1;
  }

  &__tile {
    transition: box-shadow .3s ease-out, transform .145s ease-out, opacity .145s ease-out;
    transition-delay: .1s;
    transform: translateZ(0);

    &--selected {
      transform: scale(.9);
    }
  }
}
