.tile {
  width: 100%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjVweCIgaGVpZ2h0PSI1cHgiIHZpZXdCb3g9IjAgMCAyNSA1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0MS4yICgzNTM5NykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+R3JvdXAgMzQ8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0ibGlnaHQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJHcm91cC0zNCIgZmlsbD0iI0Q4RDhEOCI+CiAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwiIGN4PSIyLjUiIGN5PSIyLjUiIHI9IjIuNSI+PC9jaXJjbGU+CiAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwiIGN4PSIxMi41IiBjeT0iMi41IiByPSIyLjUiPjwvY2lyY2xlPgogICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsIiBjeD0iMjIuNSIgY3k9IjIuNSIgcj0iMi41Ij48L2NpcmNsZT4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
  position: relative;
  top: 0;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  border-radius: 4px;
  transform: translateZ(0);
  background-color: #fff;
  overflow: hidden;
  height: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 75%;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent 36px, transparent);
    height: 100%;
    width: 100%;
  }

  &__shadow-up {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26), transparent 36px, transparent);
    height: 100%;
    bottom: 0;
    position: absolute;
    transition: opacity .135s cubic-bezier(0.0, 0.0, 0.2, 1);
    width: 100%;
  }

  &__date {
    position: absolute;
    z-index: 1;
    margin: 2px 0 0 4px;
    font-size: 12px;
    color: #b3c0c8;
    white-space: nowrap;
    bottom: 15px;
  }

  &__actions {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    fill: #fff;
  }
}
