.separator {
  border: 0;
  margin-top: 24px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;

  &::before {
    background: #eaeaea;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &::after {
    background-color: #fff;
    color: #4b4b4b;
    content: attr(data-content);
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    padding: 0 .5em;
    position: relative;
  }
}
